{% extends 'index.html' %}
{% block content %}
    <br />
    <center>
        <br />
        <h1>Share Your Thoughts</h1>
        <br />
    </center>
    <form action="/blogs/{{ blog.id }}" method="POST">
        <div class="" form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{blog.title}}" required>
        </div>
        <br />
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3">{{ blog.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" rows="10">{{ blog.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
{% endblock %}