{% extends "index.html" %}

{% block content %}
    <br/>
    <h1>Blogs</h1>
        {% for blog in blogs %}
            <br/>
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.description }}</p>
                    <a href="/blogs/{{ blog.id }}" class="btn btn-primary">View</a>
                </div>
            </div>
        {% endfor %}
    <br/>
{% endblock %}
